@model IEnumerable<BlockchainAnalysisTool.Models.Addr>

@{
    ViewData["Title"] = "Details";
}

<h2>Details for Wallet: @ViewData["Wallet"]</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountSent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSentTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReceivedFrom)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //if (item.NumberOfTransactions < 5) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Aid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountSent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastSentTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastReceivedFrom)
                </td>
            </tr>
            //}
        }

@*<div>
    <a asp-action="Index"
       asp-route-id="@ViewData["searchedAddress"]">Back to List</a>
</div>*@
