@{
    ViewData["Title"] = "Bitcoin Address Search";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@using (Html.BeginForm("Index", "", FormMethod.Post))
{
    <input type="text" name="adrs" id="adrs" /> //search textbox
    <input type="submit" value="Search" /> //button
                                       
}    

<a asp-controller=""
   asp-action="WalletLink"
   asp-route-id="@ViewBag.test">   
   View Details
</a>

<li>address 1: @ViewData["stringAddress"]</li>



@using BlockchainAnalysisTool
@{ //Print wallets: can we do this elsewhere?
    
    //var dataList = new List<List<string>>();
    //var ourWallet = WalletID.getWallet((string)ViewData["stringAddress"]);
    <li>WORK IN PROGRESS</li>
    WalletID another = new WalletID(new List<string>() { "3Bb4WvBMn3XYWTUTrsF18KHnb1Tse4W82F" });
    var add = another.walletAddresses[0];
    var size = add.Transactions[0].Outputs[0].Value;
    <li>@size</li>
    @*foreach (WalletID wallet in ourWallet.relatedWallets)
    {
        <li>=======================================================</li>
        foreach (string addressString in wallet.getAddressStrings())
        {
            <li>@addressString</li>
        }

    }*@


}

