@{
    ViewData["Title"] = "Home Page";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@using (Html.BeginForm("Index", "", FormMethod.Post))
{
    <input type="text" name="adrs" id="adrs" /> //search textbox
    <input type="submit" value="Search" /> //button
}    

<li>Total Balance: @ViewData["Final Balance"]</li>
<li>Total Recieved: @ViewData["Total Recieved"]</li>
<li>Total Sent: @ViewData["Total Sent"]</li>

@{ // Test for WalletID class and methods 

}
<li>Some Data:</li>
 @{
     BlockchainAnalysisTool.WalletID wow = new BlockchainAnalysisTool.WalletID(new string[1] { "1L1BRq7vyf17rsnYCiw9tebY6nmiNTxQgf" });
     var list = wow.getRelatedAddresses("1L1BRq7vyf17rsnYCiw9tebY6nmiNTxQgf");
     foreach (string word in list)
     {
        <li>@word</li>
     }
} 

