@{
    ViewData["Title"] = "Home Page";
}

<title>@ViewData["Title"] - Search</title>

<h3>Single Address Search</h3>

@Html.TextBox("addressTextBox", "Enter an address", new { @class = "form-control" })

<li>Total Balance: @ViewData["Final Balance"]</li>
<li>Total Recieved: @ViewData["Total Recieved"]</li>
<li>Total Sent: @ViewData["Total Sent"]</li>

